In [561]:
#Q1. ANS-
import re
Text='Python Exercises, PHP exercises.'
P=re.sub('[ ,.]', ':', Text)
P

'Python:Exercises::PHP:exercises:'

In [563]:
#Q2. ANS-
import pandas as pd
import re
Text1= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
PS=pd.DataFrame(Text1)
PS['SUMMARY']= PS['SUMMARY'].str.replace('[^a-zA-Z\s]+|XXXXX', '', regex=True)
PS

         SUMMARY
0    hello world
1           test
2  four five six

In [133]:
#Q3. ANS-
import re
Text2='The CSMT was constructed using a high level of engineering both in terms of railway and civil engineering.'
pattern=r'\w{4}'
PS=re.compile(pattern)
SH=PS.findall(Text2)
SH

['CSMT',
 'cons',
 'truc',
 'usin',
 'high',
 'leve',
 'engi',
 'neer',
 'both',
 'term',
 'rail',
 'civi',
 'engi',
 'neer']

In [545]:
#Q4. ANS-
Text3='The Tata Group is an Indian multinational conglomerate headquartered in Mumbai.'
pattern1=r'\b\w{3,5}'
PSS=re.compile(pattern1)
SHH=PSS.findall(Text3)
SHH

['The', 'Tata', 'Group', 'India', 'multi', 'congl', 'headq', 'Mumba']

In [560]:
#Q5. ANS-
Sample='["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'
pattern2=re.compile(r"\(\)")
PSH=re.sub(pattern2, "", Sample)
PSH

'["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

In [549]:
#Q6. ANS-
Sample_Text: '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'
pattern3=(re.sub(r" ?\([^])]+\)","",Sample_Text))
pattern3

'["example", "hr@fliprobo", "github", "Hello", "Data"]'

In [281]:
#Q7. ANS-
Sample_text= "ImportanceOfRegularExpressionsInPython"
PS2=re.findall('[A-Z][^A-Z]*', Sample_text)
PS2

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [282]:
#Q8. ANS-
Text3= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern4 = r'(\d+)([A-Za-z]+)'
PS3 =re.sub(pattern4, r' \1\2', Text3)
PS3

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [283]:
#Q9. ANS-
Text4= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern5 = r'(\d+)([A-Za-z]+)'
PS4 =re.sub(pattern5, r' \1 \2', Text4)
PS4

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [568]:
#Q11. ANS-
Text5="Wiki_engines_1"
pattern6= r'^[a-zA-Z0-9_]*$'
if re.search(pattern6, Text5):
    print ('match found')
else:
    print ('not found')

match found

In [569]:
#Q12. ANS-
string1='4567898765'
pattern6=re.compile(r'^4')
if re.match(pattern6,string1):
    print ('match found')
else:
    print ('not found')

match found

In [570]:
#Q13. ANS-
IP_Address='192.08.06.1'
pattern7=re.sub(r'\.[0]*','.', IP_Address)
pattern7

'192.8.6.1'

In [610]:
#Q14. ANS-
string2="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern8 = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"
matches = re.findall(pattern8,string2 )
matches

['August 15th 1947']

In [572]:
#Q15. ANS-
string3= 'The quick brown fox jumps over the lazy dog.'
pattern9 = [ 'fox', 'dog', 'horse' ]
for pattern in pattern9:
    print('Searching for "%s" in "%s" ->' % (pattern, string3),)
if re.search(pattern,  text):
    print('Matched!')
else:
    print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [573]:
#Q16. ANS-
string4= 'The quick brown fox jumps over the lazy dog.'
pattern10 = 'fox'
match = re.search(pattern10, string4)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [574]:
#Q17. ANS-
string5= 'Python exercises, PHP exercises, C# exercises'
pattern11 = 'exercises'
for match in re.findall(pattern11, string5):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [594]:
#Q18. ANS-
string6 = 'Python exercises, PHP exercises, C# exercises'
pattern12 = 'exercises'
for match in re.finditer(pattern12, string6):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [593]:
#Q19. ANS-
date = "2023-12-15"
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date)
print("Date in YYY-MM-DD Format: ",date)
print("New date in DD-MM-YYYY Format: ",change_date_format(date))

Date in YYY-MM-DD Format:  2023-12-15
New date in DD-MM-YYYY Format:  15-12-2023

In [447]:
#Q20. ANS-
string7="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern13 = re.compile(r'\d+\.\d{1,2}')
result =re.findall(pattern13, string7)
result

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [455]:
#Q21. ANS-
string8 = "The English-language Wikipedia has the largest collection of articles: as of July 2023, it has over six million articles."
for m in re.finditer("\d+", text):
    print(m.group(0))
print("Position:", m.start())

2023
Position: 82

In [462]:
#Q22. ANS-
string9='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern14=re.findall('\d+', string9)
Num=map(int,pattern14)
Max_Num=max(Num)
Max_Num

950

In [495]:
#Q23. ANS-
string10="RegularExpressionIsAnImportantTopicInPython"
pattern15 = re.sub(r"(\w)([A-Z])", r"\1 \2", string10)
pattern15

'Regular Expression Is An Important Topic In Python'

In [595]:
#Q24. ANS-
string11='The WIki activity allows Students to create a Collaborative document by Building pages together'
pattern16 =r'[A-Z]+[a-z]+'
Sample=re.findall(pattern16, string11)
Sample

['The', 'WIki', 'Students', 'Collaborative', 'Building']

In [606]:
#Q25. ANS-
string12="Hello hello world world"
pattern17=r'\b(\w+)(\s+\1\b)+'
text=re.sub(pattern17, r'\1', string12)
text

'Hello hello world'

In [597]:
#Q26. ANS-
string14="Process@*%^_2018"
pattern18 = '[a-zA-z0-9]$'
if (re.search(pattern18, string)):
    print("Accept")
else:
    print("Do not Accept")

Accept

In [598]:
#Q27. ANS-
string15="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern19= re.findall(r'#\w+', string15)
pattern19

['#Doltiwal', '#xyzabc', '#Demonetization']

In [599]:
#Q28. ANS-
string16="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern20 = r"<U\+\w{4}>"
Output= re.sub(pattern20, "", string16)
Output

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

In [600]:
#Q29. ANS-
string17='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern21 = r'\d{2}-\d{2}-\d{4}'
dates= re.findall(pattern21, string17)
dates

['12-09-1992', '15-12-1999']

In [601]:
#Q30. ANS-
string18="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern22=re.compile(r'\W*\b\w{2,4}\b')
Output1=pattern22.sub('',string18)
Output1

' following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.'